#chatbox {
	overflow-y: scroll;
	border: 1px solid black;
	width: 60%;
	height: 400px;
	padding: 2%;
}

.message {
	border: 1px solid black;
}

.post {
	margin: 0;
}

.date {
	margin: 0 0 10px 0;
}

.right {
	text-align: right;
}