<h1>Chat Room</h1>

<div id="chatbox">
	<span ng-repeat="post in chat">
		<span ng-show="post.username === profile.username">
			<div class="right">
				<h4 class="post">{{ post.body }}</h4>
				<h6 class="date"><span am-time-ago="post.time"></span></h6>
			</div>
		</span>
		<span ng-show="post.username !== profile.username">
			<div class="left">
				<h4 class="post">{{ post.username }} : {{ post.body }}</h4>
				<h6 class="date"><span am-time-ago="post.time"></span></h6>
			</div>
		</span>
	</span>
</div>
<br>
<br>


<label for="">Enter Message: </label>
<input type="text" ng-model = 'chat.body'>
<button ng-click="addMessage()"">Send Message</button>